/* add your CSS here */
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Jersey+10&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f1e5;
    color: #3e2723;
    line-height: 1.6;
    text-align: center;
}

header {
    padding: 5vh 5vw;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5vw;
    margin: 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    transition: color 0.3s ease;
    padding-left: 15px;
    padding-right: 15px;

}

nav ul li a:hover {
    color: #ffcc00;
}

#home img {
    width: 80vw;
    height: 40vw;
}
.home-content{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    margin-top: 18vh;
    margin-left: 25vw;
    color: #f8f1e5;
}
.home-content h1 {
    font-size: 4vw;
    text-align: left;
}
.home-content h2 {
    font-size: 2vw;
    width: 70%;
    text-align: left;
}

.home-content button {
    text-decoration: none;
    padding: 1vw 2vw;
    font-size: 1vw;
    border-radius: 3vw;
    background-color: #006241;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 37vw;
    margin-top: 4vh;
}

/* Hover Effect */
.home-content button:hover {
    background-color: #ffcc00;
    color: #3e2723;
    transform: scale(1.1); /* Slightly enlarges the button */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Click Effect */
.home-content button:active {
    transform: scale(0.95); /* Slightly shrinks the button */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title h1 {
    font-family: Caladea;
    font-weight: 800;
    text-align: left;
    font-size: 2.5vw;
    margin: 4vw;
    margin-left: 190px;
}

.coffee-content ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin: 0;
}
.coffee-content ul li {
    background-color: white;
    padding: 1vw;
    margin: 1vw;
    border-radius: 1vw;
    font-family: Montserrat;
}
.coffee-content ul li h2,h3 {
    text-align: left;
    width: 15vw;
    margin-top: 2vh;
}
.coffee-content ul li h3 {
    font-weight: 800;
}
.coffee-content ul li h1 {
    font-weight: 700;
}
.coffee-content ul li img {
    width: 15vw;
    height: 15vw;
    border-radius: 1vw;
}

.timeline {
    position: relative;
    max-width: 120vh;
    margin: 10vh auto;
}


.timeline h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: left;
    font-size: 3vw;
    margin-bottom: 10vh;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  text-align: left;
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: left;
    font-size: 1.2vw;
    margin-bottom: 2vh;
}

.container::after {
  content: '';
  position: absolute;
  width: 1.4vw;
  height: 2.7vh;
  right: -0.9vw;
  background-color: white;
  border: 4px solid #ffcc00;
  top: 1.5vh;
  border-radius: 50%;
  z-index: 1;
}

.left {
  right: 4.2vw;
}

.right {
  left: 29.9vw;
}

.right::after {
  left: -0.9vw;
}

.content {
  padding: 1.2vw 2vh;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

.contact {
    margin-bottom: 10vh;
}

.contact h1 {
    font-family: Caladea;
    font-weight: 800;
    text-align: left;
    font-size: 3vw;
    margin: 70px;
    margin-left: 190px;
}

.contact h2 {
    text-align: left;
    width: 60vw;
    margin-top: 4vh;
    margin-left: 10vw;
    font-family: Montserrat;
    font-size: 1.2vw;
}
.contact h3 {
    text-align: left;
    width: 60vw;
    margin-top: 4vh;
    margin-left: 10vw;
    font-family: Montserrat;
    font-size: 1.2vw;
}

.email,.phone {
    font-family: Caladea;
    font-weight: 800;
    text-align: left;
    font-size: 1.2vw;
    margin: 7vh;
    margin-left: 10vw;
}


footer {
    background: #6f4e37;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 14px;
}
